<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网站标题</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<style>
    body {
      background-color: #000000;
      min-width: 1200px;
      color: #fff;
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }
</style>
<body>
    <%- body %>
</body>
</html>